body {
    margin: 0;
    font-family: Arial;
}

.containr_full {
    max-width: 100%;
}

.containr {
    max-width: 1210px;
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo_area {
    margin-top: 65px;
    margin-bottom: 50px;
}

.baner_area {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

/* .bolar {
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 50%;
    border-bottom: 450px solid rgba(0, 148, 92, 0.8);
    border-left: 120px solid transparent;
    width: 41%;
} */

/* investment area css */
.investment_area {
    margin: 35px 0;
}

.investment_area h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    color: #00945f;
    padding: 30px 0;
    margin: 0;
}

hr {
    border: 2px solid #00945F;
    width: 70px;
    margin: 0 auto;
}

.tex_size {
    display: flex;
    justify-content: center;
}

.investment_area p {
    font-size: 17px;
    font-style: normal;
    color: #888888;
    margin: 25px 0;
    line-height: 20px;
}

.investment_area button {
    font-size: 18px;
    background-color: #E97300ed;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
}

.view_carear {
    text-align: center;
    margin: 25px 0;
}

/* citizens_area area css */
.citizens_area {
    margin: 35px 0;
}

.citizens_area h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    color: #00945f;
    padding: 30px 0;
    margin: 0;
}

.grid_containr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    margin: 20px 0;
}

.grid_box {
    border-right: 1px solid #888888;
    margin: 40px 0;
    padding: 0 30px 0 0px;
}

.grid_box:nth-child(2n+0) {
    padding-left: 30px;
    border-right: none;
}

.citizens_area h3 {
    font-size: 24px;
    color: #00945f;
    margin-top: 0;
    font-weight: 500;
}

.citizens_area p {
    font-size: 16px;
    font-style: normal;
    color: #888888;
    margin: 0;
    line-height: 24px;
}

.citizens_area a {
    text-decoration: none;
    font-size: 17px;
    color: #759B24;
}


/* citizen_loan area css */
.citizen_loan h2 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background-color: #00945f;
    padding: 15px 0;
    margin-bottom: 0;
}

.wraper_box {
    background: #ECF7F3;
    padding: 30px 70px;
}

.wraper_box p {
    font-size: 17px;
    color: #888888;
    padding: 5px 0;
    margin: 0;
    line-height: 30px;
}

/* review_area area css */
.review_area {
    margin-top: 60px;
    margin-bottom: 60px;
}

.grid_containr_man {
    display: grid;
    grid-template-columns: repeat(1, 2fr 3fr 2fr);
    grid-gap: 20px;
    padding: 30px 70px;
}

.grid_man {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    text-align: justify;
}

.grid_man .profile {
    border-radius: 50%;
    max-width: 180px;
    max-height: 180px;
}

.grid_man .profile img {
    border-radius: 50%;
    width: 100%;
}

.comment p {
    font-size: 17px;
    color: #888888;
    margin: 5px 0;
    position: relative;
    font-style: italic;
}

.comment p::before {
    content: "“";
    font-size: 24px;
    color: #888888;
    left: -9px;
    position: absolute;
    line-height: 0;
    top: 9px;
}

.comment p::after {
    content: "”";
    font-size: 24px;
    color: #888888;
    position: absolute;
}

.name p {
    text-align: center;
    font-size: 17px;
    color: #00945f;
    margin: 5px 0;
}

/* Footer area css */
footer {
    border-top: 1px solid #00945f;
    padding: 35px 0;
}

footer .social_media {
    display: flex;
}

footer .social_media li {
    list-style: none;
    width: 30px;
    height: 30px;
    margin: 0px 10px 0 0;
}

footer .social_media li a {
    text-decoration: none;
}

footer .social_media li a img {
    height: 100%;
}

.privacy_blog p {
    font-size: 12px;
    color: #888888;
    margin: 30px 0;
}

.privacy_blog a {
    color: #888888;
}

.nav_menu {
    display: flex;
}

.nav_menu li {
    list-style: none;
    padding: 0 10px;
    border-right: 2px solid #888888;
}

.nav_menu li a {
    text-decoration: none;
    font-size: 13px;
}

.nav_menu li:first-child {
    padding-left: 0;
}

.nav_menu li:last-child {
    border-right: none;
}



/*************************
 media css start 
 **************************/
@media only screen and (min-width: 993px) {
    .bolar {
        position: absolute;
        top: 0;
        bottom: 4px;
        left: 50%;
        border-bottom: 450px solid rgba(0, 148, 92, 0.8);
        border-left: 100px solid transparent;
        width: 42.3%;
    }
}

@media only screen and (max-width: 992px) {
    .baner_area {
        height: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .containr {
        max-width: 1250px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .logo_area {
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .logo_area img {
        height: 25px;
    }

    .baner_area {
        height: 300px;
    }

    .investment_area h2 {
        font-size: 24px;
        padding: 20px 0;
    }

    .investment_area p {
        font-size: 16px;
        line-height: 24px;
    }

    .view_carear {
        margin: 10px 0;
    }


    .citizens_area h2 {
        font-size: 24px;
        padding: 20px 0;
    }

    hr {
        border: 1px solid #00945F;
    }

    .grid_containr {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid_box {
        padding: 0 0px 0 0px;
        margin: 14px 0;
        border-right: none;
        border-bottom: 1px solid #888888;
        padding-bottom: 20px;
    }

    .grid_box:nth-child(2n+0) {
        padding-left: 0px;
    }

    .citizens_area h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .citizens_area p {
        line-height: 24px;
    }

    .citizen_loan h2 {
        font-size: 22px;
        padding: 10px 0;
    }

    .wraper_box {
        padding: 0px 15px;
    }


    .grid_containr_man {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 0px 0px;
    }

    .grid_man .profile {
        max-width: 140px;
        max-height: 140px;
    }

}

@media only screen and (max-width: 540px) {
    .logo_area {
        margin-top: 35px;
        margin-bottom: 20px;
        text-align: center;
    }

    .logo_area img {
        height: 20px;
    }

    .baner_area {
        height: 200px;
    }

    .investment_area h2 {
        font-size: 22px;
        padding: 15px 0;
        font-weight: 400;
    }

    .citizens_area h2 {
        font-size: 22px;
        padding: 20px 0;
        font-weight: 400;

    }

    .citizen_loan h2 {
        font-size: 22px;
        padding: 10px 0;
        font-weight: 400;
    }

    .grid_man .profile {
        max-width: 120px;
        max-height: 120px;
    }

}